.table-one {
    width: 100%;
    background-color: orange;
    
    margin: 0;
}



.td1 {
    width: 10%;
}

.imgx {
    width: 70%;


}

.img2 {
    width: 70%;

}

.img3 {
    width: 70%;

}

.login {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #db3434;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.td2 {
    width: 60%;
    color: white;


}

.td3 {
    width: 10%;

}

.td4 {
    width: 10%;
}

.td5 {
    width: 10%;
}
.content{
    margin: 5% 0;
    text-align: center;
    color: blueviolet;
}

.content-main{
    width: 100%;
    padding: 80%;
    
}
.table-two{
    width: 100%;
    border: 1px solid gray;
   
   
   
}
.letter{
    width: 3%;
}


// .td6{
//     width: 20%;
   
   
// }
// .td7{
//     width: 20%;
  
    
// }
// .td8{
//     width: 20%;
  
   
// }
// .td9{
//     width: 20%;
  
 
// }
// .td10{
//     width: 20%;
  
// }
// .image-one{
//     width: 80%;
//     border: 1px solid;
//     display: block;
//     border-radius: 50%;
    
// }
// .image-two{
//     width: 80%;
//     border: 1px solid;
//     display: block;
//     border-radius: 50%;
// }
// .image-three{
//     width: 80%;
//     border: 1px solid;
//     display: block;
//     border-radius: 50%;
// }
// .image-four{
//     width: 80%;
//     border: 1px solid;
//     display: block;
//     border-radius: 50%;
//     text-align: center;
  
// }
// .image-five{
//     width: 80%;
//     border: 1px solid;
//     display: block;
//     border-radius: 50%;
// }
.td6, .td7, .td8, .td9, .td10 {
    width: 20%;
}

.image-container {
    text-align: center; 
}

.image-one, .image-two, .image-three, .image-four, .image-five {
    width: 80%;
    border: 1px solid;
    display: block;
    border-radius: 50%;
}

.text-one, .text-two, .text-three, .text-four, .text-five {
    display: block;
}

.table-three{
    width: 100%;
    margin: 6% 0;
}
.row-one{
    width: 100%;
}
.td11{
    width: 30%;
}
.td12{
    width: 30%;
}
.td13{
    width: 30%;
}
.td14{
    width: 30%;
}
.td15{
    width: 30%;
}
.td16{
    width: 30%;
}
.cancel-ticket{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border: 1px solid;
    border-radius: 50%;
}
.his{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border: 1px solid;
    border-radius: 80%;
}
.utc-ticket{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border: 1px solid;
    border-radius: 50%;
   
}
.wallet{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border: 1px solid;
    border-radius: 50%;
}
.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border: 1px solid;
    border-radius: 50%;
}
.pass{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border: 1px solid;
    border-radius: 50%;
}
.Season-Booking{
    width: 100%;
    border: 1px solid;
    border-radius: 20px;
}
.show-ticket{
    width: 100%;
    background-color: orange;
    color: white;
    margin-bottom: 2%;
}
.frist{
    width: 50%;
}
.second{
    width: 50%;
}
.but{
    width: 100%;
}
.footer{
    width: 100%;
    
    border: 1px solid;
    border-radius: 10px;
}
.season{
    width: 100%;
    text-align: center;
    background-color: orange;
    color: white;

}
.radio{
    width: 100%;
    margin: 10% 0;
}
.but{
    width: 100%;
    margin-bottom: 10%;
}
.but1{
    width: 40%;
    text-align: center;
    margin-left: 6%;
    border: 1px solid;
    border-radius: 30%;
    background-color: orange;
    color: #ffffff;
}
.but2{
    width: 40%;
    text-align: center;
    margin-right: 3%;
    border: 1px solid;
    border-radius: 30%;
    background-color: orange;
    color: #ffffff;

}
button{
    padding: 6px 0;
    
}
.text{
    font-size: value;
    width: 8%;
}
