<div>
    <div class="header">
        <table class="table-one">
            <tr class="header-main">
                <td class="td1">
                    <img src="assets\utc.logo.jpeg" alt="" class="imgx">
                </td>
                <td class="td2">
                    <div class="text-td2">UTS</div>
                    IR Ureserved Ticketing
                </td>
                <td class="td3">
                    <img src="assets\language.jpg" alt="" class="img2">
                </td>
                <td class="td4">
                    <span class="login">
                        login
                    </span>

                </td>
                <td class="td5">
                    <img src="assets\nav.png" alt="" class="img3">
                </td>
            </tr>
        </table>
    </div>
    <div class="content">
        <div>INDIAN RAILWAYS OFFERS 3% BONUS ON <br> RECHARGE OF R-WALLET.</div>
    </div>

    <!-- <div class="grid-container">
        <div class="grid-item1">Column 1</div>
        <div class="grid-item2">Column 2</div>
        <div class="grid-item3">Column 3</div>
        <div class="grid-item4">Column 4</div>
        <div class="grid-item5">Column 5</div>
    </div> -->
    <table class="table-two" >
        <tr>
            <td class="td6">
                <img src="assets\journey ticket.jpg" alt="" class="image-one">
                <!-- <span class="text-one">Journey Ticket</span> -->
              
            </td>
            <td class="td7">
                <img src="assets\scanner.png" alt="" class="image-two">
                
                <!-- <span class="text-two">QR Booking</span> -->
           
            </td>
            <td class="td8">
                <img src="assets\Qiuck Booking.png" alt="" class="image-three">
                <!-- <span class="text-three">Quick Booking</span> -->
                

            </td>
            <td class="td9">
                <img src="assets\platform ticket.png" alt="" class="image-four">
                <!-- <span class="text-four">Platfot Ticket</span> -->
                


            </td>
            <td class="td10">
                <img src="assets\season ticket.png" alt="" class="image-five">
                <!-- <span class="text-five">Season Ticket</span> -->
                
            </td>
        </tr>
      
       

    </table>
  
    <div>
        <table class="table-three" >
            <tr class="row-one">
                <td class="td11">
                    <img src="assets\cancel icon.png" alt="" class="cancel-ticket">

                </td>
                <td class="td12">
                    <img src="assets\Logo\history.png" alt="" class="his">
                </td>
                <td class="td13">
                    <img src="assets\ticket (2).jpg" alt="" class="utc-ticket">
                </td>
            </tr>
            <tr>
                <td class="td14">
                    <img src="assets\wallet.jpg" alt="" class="wallet">
                </td>
                <td class="td15">
                    <img src="assets\profile.jpg" alt="" class="profile">
                </td>
                <td class="td16">
                    <img src="assets\pass.jpg" alt="" class="pass">
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <div class="season">SEASON-TICKET</div>
        <div class="radio">
            <span width="50%">
                <input type="radio" name="" id="">Book & Travel(Paperless)
            </span>
            <span width="50%">
                <input type="radio" name="" id="">Book & Print(Paper)
            </span>
        </div>
        <div class="but">
            <button type="submit" class="but1">SHOW TICKET</button>
            OR
            <button type="submit"class="but2" > RENEW TICKET</button>
        </div>
    </div>

</div>