<div class="main">
    <div *ngIf="!showViewTicket">
        <div class="main-1">
            <div class="header-static">
                <header class="history-header">
                    <div class="head-div">
                        <div>
                            <span class="white-icon"><i class="material-icons"> arrow_back</i></span> 
                        </div>
                        <div>
                            <span style="color: #fff;" *ngIf="paperLessTicket"> Booking History sync History</span>
                            <span style="color: #fff;" *ngIf="bookingTicket"> Show Ticket</span>
                        </div>
                        <div>
                            <span class="white-icon"><i class="material-icons"> autorenew</i></span> 
                            <!-- <img src="../../assets/Logo/syncIcon.svg" width="50%"> -->
                        </div>
                        <div>
                            <span class="white-icon"><i class="material-icons"> history</i></span> 
                            
                            <!-- <img src="../../assets/Logo/history.png" width="50%"> -->
                        </div>

                    </div>

                </header>

                <div>
                    <div class="booking-header">
                        <span class="search-booking">
                            <span class="white-icon"><i class="material-icons"> search</i></span> 
                            
                            <span style="color: #fff;" *ngIf="paperLessTicket"> BOOKING HISTORY</span>
                            <span style="color: #fff;" *ngIf="bookingTicket"> Show Ticket</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-2">
            <div class="table-div">
                <table *ngFor="let booked of bookingArr" class="booking-table">
                    <tr class="table-header">
                        <th>
                            JOURNEY ( M-TICKET )
                        </th>
                        <th>
                            FARE:
                            <span> {{booked.fare | currency :'INR'}} </span>
                        </th>
                    </tr>
                    <tr colspan="2">
                        <td>
                            <div class="grid-class">
                                <span class="rounded-span">S</span>
                                <span style="margin-left: 5%;">
                                    {{booked.startFrom}}
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="grid-class">
                                <span class="rounded-span">D</span>
                                <span style="margin-left: 5%;">
                                    {{booked.endIn}}
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span>
                                Via : <span *ngIf="bookingTicket"></span>
                            </span>
                        </td>
                    </tr>
                    <tr >

                        <td colspan="2" style="font-size: .7em;">
                            <div class="detail-div">
                                <span class="ticket-detail">
                                    <span> ADULT: </span>
                                    <span class="count">{{booked.adult}}</span>
                                    <span> CHILD: </span>
                                    <span class="count">{{booked.child}}</span>
                                </span>
                                <span class="ticket-detail">
                                    <span> SECOND </span>
                                    <span>(II) </span>
                                </span>
                                <span class="ticket-detail"> ORDINARY (0)</span>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="paperLessTicket">
                        <td colspan="2">
                            <span class="booking-date">
                                <span> BOOKING DATA:</span>
                                <span class="ticket-date"> {{booked.bookingDate}}</span>
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="paperLessTicket">
                        <td colspan="2">
                            <span class="booking-date">
                                <span> BOOKING DATA:</span>
                                <span class="ticket-date"> {{booked.bookingDate}}</span>
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="bookingTicket">
                        <td>
                            <span class="booking-date">
                                <span> BOOKING DATA:</span>
                                <span class="ticket-date"> {{booked.bookingDateString}}</span>
                            </span>
                        </td>
                        <td>
                            <span>
                            <span>
                                UTS NO:
                            </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <span>

                                </span>
                                <span class="ticket-sub-header">
                                    <!-- <span class="black-icon"><i class="material-icons"> arrow_forward</i></span>  -->
                                    <span *ngIf="paperLessTicket" class="flex-div">
                                        <span class="black-icon"><i class="material-icons"> arrow_forward</i></span> 
                                        <span>
                                            BOOK AGAIN
                                        </span>
                                        
                                    </span>
                                    <span *ngIf="bookingTicket" (click)="goToView()" class="flex-div ">
                                        <span class="black-icon"><i class="material-icons"> arrow_forward</i></span> 
                                        <span>
                                          VIEW TICKET
                                        </span>  
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td>
                            <span>
                                <span>

                                </span>
                                <span class="ticket-sub-header">
                                    <span class="black-icon"><i class="material-icons"> search</i></span> 
                                    <span>
                                        NEXT TRAINS
                                    </span>
                                </span>
                            </span>

                        </td>
                    </tr>
                    <tr class="image-paperless">
                        <img src="../../assets/Logo/refinde.jpg" class="Logo" width="60%" height="100%" *ngIf="bookingTicket">
                        <img src="../../assets/Logo/refinde.jpg" class="Logo" width="60%" height="100%" *ngIf="paperLessTicket">
                    </tr>

                </table>

            </div>
        </div>
    </div>
    <div *ngIf="showViewTicket">
        <!-- <app-view-ticket></app-view-ticket> -->
    </div>
</div>
<button type="button" (click)="login()">login</button>