// .main{
//     width: 100vw;
//     height: 100vh;
// }
.main-1{
    position: fixed;
    z-index: 1;
    background: #fff;
    top: 0;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 2%;
}
.main-2{
    padding-top: 20%;
}
.history-header {
    width: 100%;
    background: #f98250;
    padding: 10px 0px;
    margin: 0 0 3% 0;
    background: rgb(254, 116, 103);
    background: linear-gradient(90deg, rgba(254, 116, 103, 1) 0%, rgba(254, 128, 87, 1) 35%, rgba(251, 135, 74, 1) 100%);
}

.booking-header {
    margin: auto;
    width: 90%;
    background: #f98250;
    color: #fff;
    border-radius: 8px;
    padding: 1.3% 3%;
    background: rgb(254, 116, 103);
    background: linear-gradient(90deg, rgba(254, 116, 103, 1) 0%, rgba(254, 128, 87, 1) 35%, rgba(251, 135, 74, 1) 100%);
}


.booking-table {
    position: relative;
    width: 100%;
    margin: 2% 0;
    border-radius: 7px;
    padding: 2%;
    box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.75);
}

.table-div {
    margin: 0 4%;
    // margin-top: calc(100vh - 100px);

    // position: relative;
}

.header-static {}

.table-header {
    width: 100%;
    background: #95f1fe;
    
}

.table-header th {
    width: 50%;
    font-size: .7em;
    padding: 2%;
}

td {
    border: 1px solid #f6f6f6;
    border-collapse: collapse;
}

.rounded-span {
    background: #f08b57;
    color: #fff;
    border-radius: 50%;
    width: 100%;
    display: block;
    text-align: center;

}

.grid-class {
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 8% 5%;
}

.ticket-detail {
    border: 1px solid #f6f6f6;
    width: 33.3%;
}

.detail-div {
    display: flex;
    justify-content: space-between;
}

.booking-date {}

.count {
    color: #d5734f;
    font-size: 1.3em;
    font-weight: 550;

}

.ticket-date {
    font-size: 1em;
    color: #e5a78c;
}

.ticket-sub-header {
    color: #f9844f;
    font-weight: 600;
}

.flex-div{
    display: flex;
    align-items: center;
    gap: 2%;
}
.image-paperless {
    position: absolute;
    top: 23%;
    left: 37%;
    /* bottom: 30%; */
    /* right: 20%; */
    z-index: -1;
}

.Logo {
    width: 45%;
    height: 100%;
}

.head-div{
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
    align-items: center;
}
.white-icon .material-icons {
    color: white; /* Change the color to white */
  }

  .black-icon .material-icons {
    color: rgb(0, 0, 0); /* Change the color to white */
  }

  .search-booking{
    display: flex;
    align-items: center;
    gap: 5%;
  }